@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;500;600;700&display=swap');

body {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-size: large;
    font-family: 'M PLUS 1', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn .btn-danger {
    align-items: center;

}

.our-container {
    margin-top: 80px ;
}






h1 {
    color: #fafafa;
}

.list-group-item {
    color: #02194b;
}

.list-group input:checked + span {
    text-decoration: line-through;
    text-after-overflow: 1;
}

.list-group input:checked + span {
    color: #ef77a7;
    font-size: large;
}

.delete-btn {
    background-color: #5e5eec;
    border: none;
}

.add-btn {
    background: #efc5d7 !important;
    border: 1px solid #ef77a7 !important;

}



